{% extends 'base.html' %}
{% block pagecontent  %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<form method="POST" action=" ">
  <p> <h1><span   style="font-size:30px; color:#a0455d; font-weight:bold;">FTP Server</span>  <i class="fas solid fa-cog fa-spin"></i></h1></p> <br><hr> <br>
    <label for="name"><span style=" color:#060606;">USERNAME:</span></label><br>
    <input type="text" id="name" name="name" placeholder="Enter Your Username "required><br>
    <label for="passw"><span style=" color:#060606;">PASSWORD:</span></label> <br>
    <input type="password" id="fname" name="passw" placeholder="Enter Your password"required><br>
    <label for="ftp"><span style=" color:#060606;">Location File:</span></label> <br>
    <input type="text" id="fname" name="ftp" placeholder="Enter Your copy"required><br>
    <label for="file"><span style=" color:#060606;"> File Name :</span></label> <br>
    <input type="text" id="fname" name="file" placeholder="Enter Your File Name"required><br>
     <br> <br>
    <label class='container'for="id"><span style=" color:#060606;">Pick Your Device:</span><br><br>
      <table>
        <tr>
          <td><span id="example"><input type="checkbox"id="select-all" name="Router" value="all"><span style=" color:#060606;">CHECK ALL </i></span></span> </td>
         <td></td>
         <td></td>
         <td></td>
        </tr>
         <tr>
          <td> <center><img src="https://img.icons8.com/fluency/40/000000/router.png"/></center> </td>
          <td><span id="example"><input type="checkbox" name="Router" value="Router1" class="checkboxname" ><span style=" color:#060606;">Router1</span></span></td>
       <td> <span id="example"><input type="checkbox"  name="Router" value="Router2" class="checkboxname" ><span style=" color:#060606;">Router2</span></span> </td>
     <td><span id="example"> <input type="checkbox" name="Router" value="Router3"class="checkboxname" ><span style=" color:#060606;">Router3</span> </span></td>
     </tr>
     <tr>
      <td> <center><img src="https://img.icons8.com/ultraviolet/35/000000/switch.png"/></center></td>
       <td><span id="example"><input type="checkbox" name="Router" value="Switcher1"><span style=" color:#060606;">Switcher1</span></span> </td>
     <td> <span id="example"><input type="checkbox" name="Router" value="Switcher2" class="checkboxname" ><span style=" color:#060606;">Switcher2</span></span> </td>
   <td><span id="example"> <input type="checkbox" name="Router" value="Switcher1"class="checkboxname" ><span style=" color:#060606;">Switcher3</span> </span></td>
   </tr>
   <tr>
    <td> <center><img src="https://img.icons8.com/fluency/40/000000/router.png"/></center> </td>
    <td><span id="example"><input type="checkbox" name="Router" value="Router4" class="checkboxname" ><span style=" color:#060606;">Router4</span></span></td>
 <td> <span id="example"><input type="checkbox"name="Router" value="Router5" class="checkboxname" ><span style=" color:#060606;">Router5</span></span> </td>
<td><span id="example"> <input type="checkbox" name="Router" value="Router6" class="checkboxname" ><span style=" color:#060606;">Router6</span> </span></td>
</tr>
      </table>
    </label>
 
   <br>
   <div class="sub">
    <input type="submit" value="Submit"> </div>
  </form>
  <br>
  <div class="conf">
    <div class="item">
  <h3><i class="fas solid fa-code"></i>Configuration</h3> <br>
  <textarea placeholder="The Configuration ..."
  style="width: 350px;height: 200px;
         padding: 10px; border:3px solid rgb(185, 155, 209);
         background-color:aliceblue; font-size: .8rem;
         letter-spacing: 1px; ">{{ result3}}</textarea>
         <br>
    </div>
    <div class="item">
     
          <table> <tr>
            <td><h6 style="color: #5f6d61; ">Devices Fail Configs </h6> </td>
           <td> <h6 style="color: #30c64e;">{{ res }}</h6></td> <td> <img src="/static/images/bad.png" alt="" style="width: 30px;"></td> </tr>
           <tr> <td><h6 style="color: #5f6d61; "> Total Device Failures </td>
             <td><h6 style="color: #30c64e;">{{ olfa }} </h6></td> <td> <img src="/static/images/bad.png" alt="" style="width: 30px;"></td>
         </tr>
         </table>
  </div>
</div> 
<div class="conf" style="padding-left: 36px;">
  <h1 style="font-size:30px; color:#a0455d; font-weight:bold;"> <img src="https://img.icons8.com/external-sbts2018-flat-sbts2018/25/000000/external-terminal-basic-ui-elements-2.4-sbts2018-flat-sbts2018.png"/> Terminal </h1> <br>
<textarea style="width: 830px;height: 200px;
padding: 122px; border:3px solid rgb(185, 155, 209);
background-color:aliceblue; font-size: .8rem;
letter-spacing: 1px; "name="Terminal" id="" cols="30" rows="10">{{x}} </textarea>
</div>
<script type="text/javascript">
  document.getElementById('select-all').onclick = function() {
    var checkboxes = document.querySelectorAll('input[type="checkbox"]');
    for (var checkbox of checkboxes) {
        checkbox.checked = this.checked;
    }
}
</script>
  <style>
    div.sub{
      padding-left: 5.5%;
    }
   
    table {
      border-collapse: collapse;
      border-radius: 1em;
      overflow: hidden;
      border-style: solid;
      border-color: #060606;
    }
    
    th, td {
      padding: 1em;
      background: #ddd;
      border-bottom: 2px solid white; 
    }
    #example1 {
      border-spacing: 0 10px;
      border: 2px solid rgb(147, 52, 109);
      padding: 10px;

      border-radius: 10px 
    }
    .container {
      display: block;
      position: relative;
      padding-left: 20px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  .container input {
    accent-color: #336daf;
    height: 20px; /* not needed */
    width: 20px; /* not needed */
  }
    div.item{
      display: inline-block;
      vertical-align: -webkit-baseline-middle;
      margin-left: 8px;
      
    }
    h6{ font-size: larger;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    
      margin-left: 15px;
      font-weight:bold;
      font-size:20px;
    }
    input[type=text],
    input[type=password], select {
      width: 50%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    
    input[type=submit] {
      width: 20%;
      background-color: #994caf;
      color: white;
      padding: 14px 20px;
      margin: 4px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
     
    }
    
    input[type=submit]:hover {
      background-color: #a0455d;
    }
    
    form {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
    }
    div .conf {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
      }
    textarea::placeholder {
        font-size: 1rem;
        color: #0f0101;
        font-family: 'Roboto', sans-serif;
    }
    
 
    </style>

{% endblock %}